{% extends 'base.html' %}

{% block 'nosotros' %}
<div class="container">
    <h1 class="text-center">Sobre nuestra compañía</h1>
    <div class="row border-top">
        <br>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae dolor illo modi optio
            saepe! Aut cupiditate deserunt dolorem iusto maiores molestias nobis, omnis quasi quo reiciendis? Alias,
            pariatur?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci error, eveniet minus neque quam
            repellendus reprehenderit tempore! Blanditiis commodi consequuntur dicta hic illum, in ipsam, ipsum modi
            neque rem, sapiente?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at, dolor error ex illum natus tenetur?
            Dolorum enim eos expedita facere iste, itaque labore, libero nemo non sapiente sed vel?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae dolor illo modi optio
            saepe! Aut cupiditate deserunt dolorem iusto maiores molestias nobis, omnis quasi quo reiciendis? Alias,
            pariatur?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci error, eveniet minus neque quam
            repellendus reprehenderit tempore! Blanditiis commodi consequuntur dicta hic illum, in ipsam, ipsum modi
            neque rem, sapiente?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at, dolor error ex illum natus tenetur?
            Dolorum enim eos expedita facere iste, itaque labore, libero nemo non sapiente sed vel?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae dolor illo modi optio
            saepe! Aut cupiditate deserunt dolorem iusto maiores molestias nobis, omnis quasi quo reiciendis? Alias,
            pariatur?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci error, eveniet minus neque quam
            repellendus reprehenderit tempore! Blanditiis commodi consequuntur dicta hic illum, in ipsam, ipsum modi
            neque rem, sapiente?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at, dolor error ex illum natus tenetur?
            Dolorum enim eos expedita facere iste, itaque labore, libero nemo non sapiente sed vel?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores beatae dolor illo modi optio
            saepe! Aut cupiditate deserunt dolorem iusto maiores molestias nobis, omnis quasi quo reiciendis? Alias,
            pariatur?</p>

    </div>

</div>
{% endblock %}